/* Paragraf : 16px */
/* Navbar Text: 16 - 18px */
/* Button Text: 14 - 16px */
/* Heading Text: 36px - 48px */
/* Heading2 Text: 28px - 36px */
/* Sub Heading Text: 20px - 24px */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 25px;
}

body {
    overflow-x: hidden;
    position: relative;
}

:root {
    --primaryBackground: #000235;
    --navbarBackground: #242651;
    --navbarText: #d8d9eb;
    --heading: #d8d9eb;
    --cardColor: #b4b5cc;
    --borderColor: #6d6ebb;
    --hoverColor: #6d6ebb;
    --textColor: #ffff;
    --paragraphColor: #9192ab;
    --buttonColor: #6d6ebb;
    --buttonText: #d8d9eb;
    --carouselCardColor: #484a6e;
    --shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    --boxShadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

header {
    height: auto;
    background-color: rgba(0, 0, 50, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 20px;
}

.navbar-logo {
    font-style: oblique;
}

.navbar-logo h1 {
    color: var(--hoverColor);
    font-family: "Syne", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar-logo strong {
    font-weight: 700;
    color: var(--textColor);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-contact {
    display: none;
}

.navbar-menu {
    background-color: rgba(0, 0, 50, 1);
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    top: 100%;
    width: 400px;
    height: 100vh;
    padding: 10px 0 0 15px;
    transform: translateX(999%);
    transition: all 0.3s ease-in-out;
}

.navbar-menu.pop-up {
    transform: translateX(30%);
    transition: all 0.3s ease-in-out;
}

.navbar-menu a {
    position: relative;
    width: max-content;
    display: block;
    font-family: "Poppins", sans-serif;
    color: var(--navbarText);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.85rem;
}

.navbar-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 0%;
    height: 2px;
    background-color: var(--borderColor);
    transition: width 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
    width: 100%;
}

.navbar-menu a:hover {
    color: var(--textColor);
}

main {
    padding-top: 10%;
    background-color: var(--primaryBackground);
}

/* Hero Section Start */
.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-family: "Lexend", sans-serif;
    color: var(--heading);
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    line-height: 0;
}

.hero-text h2 {
    color: var(--textColor);
    font-family: "DM Sans", sans-serif;
    font-size: 1.35rem;
    display: block;
    font-weight: 800;
}

.hero-text h3 #element {
    color: var(--textColor);
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
}

.typed-cursor {
    font-weight: 800;
    color: var(--textColor);
}

.hero-text p {
    font-family: "Work Sans", sans-serif;
    color: var(--paragraphColor);
    text-shadow: var(--shadow);
    font-weight: 400;
    font-size: 0.75rem;
    display: block;
    width: 85%;
    margin: 15px 0;
}

.hero-cta a {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 550;
    background-color: var(--buttonColor);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.hero-cta a:hover {
    transform: scale(1.1);
    background-color: var(--paragraphColor);
}

.hero-image {
    display: none;
}

/* Services Section */
.content-header {
    font-family: "Lexend", sans-serif;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

.content-header h1 {
    display: block;
    position: relative;
    font-size: 1.5rem;
    color: var(--heading);
    text-align: center;
    font-weight: 700;
    width: max-content;
}

.content-header strong {
    font-weight: 700;
    color: var(--hoverColor);
}

.content-header h1::before {
    content: "";
    background-color: var(--borderColor);
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: -20%;
    height: 2px;
}

.services {
    height: auto;
    padding: 40px 0;
}

.services-content {
    padding: 0 20px;
    gap: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-card {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border: 2px solid var(--borderColor);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.services-card:hover {
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.services-card-content {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    width: 80%;
}

.services-card-image img {
    height: 80px;
}

.services-card-header h1 {
    font-family: "Poppins", sans-serif;
    color: var(--heading);
    font-size: 1.35rem;
}

.services-card-text p {
    font-family: "Work Sans", sans-serif;
    color: var(--textColor);
    font-size: 0.75rem;
    line-height: 20px;
}

.services-card-cta a {
    display: block;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 550;
    background-color: var(--buttonColor);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.services-card-cta a:hover {
    transform: scale(1.1);
    background-color: var(--paragraphColor);
}

/* Skills Section */
.skills {
    height: auto;
    padding: 40px 0;
}

.skills-content {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}

.skills-items {
    border: 2px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    height: auto;
    padding: 15px 10px;
    gap: 10px 0px;
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.skills-items:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.skills-items img,
svg {
    height: 25px;
}

.skills-items h1 {
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    display: block;
}

/* About Section */
.about {
    height: auto;
    padding: 40px 0;
}

.about-content {
    padding: 0 20px;
}

.about-image {
    display: none;
}

.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 30px 0;
}

.about-main-header h1 {
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 15px;
}

.about-main-header h2 {
    text-align: center;
}

.about-main-header h2 #about-element {
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    font-size: 1rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.about-text p {
    display: block;
    font-family: "Work Sans", sans-serif;
    color: var(--paragraphColor);
    font-size: 0.75rem;
    text-align: justify;
}

.about-experience {
    display: flex;
    justify-content: space-around;
}

.about-experience-items {
    width: 20%;
}

.about-experience-items h1 {
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    font-size: 1rem;
}

.about-experience-items p {
    font-family: "Work Sans", sans-serif;
    color: var(--heading);
    font-size: 0.75rem;
}

.about-cta {
    display: flex;
    justify-content: center;
    gap: 0 15px;
}

.about-cta a {
    display: block;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 550;
    background-color: var(--buttonColor);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.about-cta a:hover {
    transform: scale(1.1);
    background-color: var(--paragraphColor);
}

/* Projects Section */
.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.projects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.portofolio-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.portofolio-menu button {
    display: block;
    border: none;
    width: 25%;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 550;
    background-color: var(--buttonColor);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s linear;
        
}

.portofolio-menu button:active {
    background-color: var(--paragraphColor);
}

.project-section {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
}

.active {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
}

/* .poster-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 0;
}

.poster-main img{
    height: 150px;
    border-radius: 10px;
} */

.poster-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    margin-top: 40px;
}

.poster-main img {
    height: 250px;
    border-radius: 5px;
}

.projects-main {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.projects-second {
    display: none;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.swipper {
    position: relative;
    width: 100%;
    z-index: 2;
}

.swiper-wrapper {
    display: flex;
    width: max-content;
    margin: auto;
}

.swiper-slide {
    height: 24rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.projects-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding: 5px 5px 20px 5px;
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border: 2px solid var(--borderColor);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.projects-card-image,
.projects-card-image.wedding {
    background-image: url("assets/img/toko-mekkah.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 23px;
}

.projects-card-image.wedding {
    background-image: url("assets/img/wedding.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    border-radius: 23px;
}

.projects-card-text {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    padding-left: 5px;
}

.projects-card-text h1 {
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    font-size: 1.35rem;
    line-height: 0;
}

.projects-card-text p {
    font-family: "Work Sans", sans-serif;
    color: var(--heading);
    font-size: 1.2rem;
    line-height: 20px;
}

.projects-card-text a {
    display: block;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 550;
    background-color: var(--buttonColor);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.projects-card-text a:hover {
    transform: scale(1.1);
    background-color: var(--paragraphColor);
}

.swiper-pagination {
    position: absolute;
    bottom: 100px;
}

.swiper-pagination-bullet {
    background-color: white;
}

/* Contact Section */
.contact {
    padding: 40px 0;
}

.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    padding: 0 20px;
}

.contact-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: var(--textColor);
    text-align: center;
    text-transform: uppercase;
}

/* From Uiverse.io by rahilansari261 */
.form {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

.title {
    font-family: "Lexend", sans-serif;
    color: var(--heading);
    font-size: 36px;
    font-weight: 600;
}

.subtitle {
    color: var(--textColor);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: var(--carouselCardColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--textColor);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.text-area {
    height: 65px;
}

.cut {
    background-color: #000235;
    border-radius: 10px;
    height: 25px;
    left: 20px;
    position: absolute;
    top: -25px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .cut {
    transform: translateY(8px);
}

.input:focus ~ .iLabel {
    transform: translateY(-35px) translateX(10px) scale(0.75);
    -webkit-transform: translateY(-35px) translateX(10px) scale(0.75);
    -moz-transform: translateY(-35px) translateX(10px) scale(0.75);
    -ms-transform: translateY(-35px) translateX(10px) scale(0.75);
    -o-transform: translateY(-35px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
    color: #808097;
}

.input:focus ~ .iLabel {
    color: var(--hoverColor);
}

.input.filled ~ .iLabel {
    transform: translateY(-35px) translateX(10px) scale(0.75);
    color: var(--hoverColor);
    -webkit-transform: translateY(-35px) translateX(10px) scale(0.75);
    -moz-transform: translateY(-35px) translateX(10px) scale(0.75);
    -ms-transform: translateY(-35px) translateX(10px) scale(0.75);
    -o-transform: translateY(-35px) translateX(10px) scale(0.75);
}

.submit {
    background-color: var(--buttonColor);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: var(--hoverColor);
}

/* Ukuran Handphone Umum */
@media only screen and (min-width: 361px) and (max-width: 480px) {
    .hero-image {
        display: none;
    }

    .about-image {
        display: none;
    }

    /* Projects Section */
    .projects-second {
        display: none;
    }
}

/* Ukuran Handphone Sedang */
@media only screen and (min-width: 481px) and (max-width: 576px) {
    main {
        padding-top: 7%;
    }

    .navbar-menu.pop-up {
        transform: translateX(50%);
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }

    /* Hero Section */
    .hero-image {
        display: none;
    }

    /* Skills Section */
    .skills-items {
        flex-direction: row;
        align-items: center;
        gap: 0 10px;
        width: 45%;
    }

    .skills-items img,
    svg {
        height: 30px;
    }

    .skills-items h1 {
        font-size: 1rem;
    }

    /* About Section */
    .about-image {
        display: none;
    }

    /* Projects Section */
    .projects-second {
        display: none;
    }

    .swiper-slide {
        height: auto;
    }

    .projects-card-image,
    .projects-card-image.wedding {
        height: 400px;
    }
}

/* Ukuran Handphone Besar */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-menu.pop-up {
        transform: translateX(92%);
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateX(92%);
        -moz-transform: translateX(92%);
        -ms-transform: translateX(92%);
        -o-transform: translateX(92%);
    }

    main {
        padding-top: 5%;
    }

    /* Hero Section */
    .hero-text h1 {
        font-size: 1.75rem;
    }

    .hero-text h2 {
        font-size: 1.875rem;
    }

    .hero-text p {
        font-size: 0.85rem;
    }

    .hero-image {
        display: none;
    }

    .content-header h1 {
        font-size: 1.75rem;
    }

    /* Services Section */
    .services-card-header h1 {
        font-size: 1.75rem;
    }

    .services-card-text p {
        font-size: 0.85rem;
    }

    /* Skills Section */
    .skills-items {
        flex-direction: row;
        align-items: center;
        gap: 0 10px;
        width: 45%;
    }

    .skills-items h1 {
        font-size: 1rem;
    }

    /* About Section */
    .about-image {
        display: none;
    }

    .about-text p {
        font-size: 0.85rem;
    }

    .about-experience {
        width: 100%;
    }

    .about-experience-items {
        width: 20%;
    }

    .about-experience-items h1 {
        font-size: 1.75rem;
    }

    .about-experience-items p {
        font-size: 0.85rem;
    }

    .about-cta a {
        font-size: 0.9rem;
    }

    /* Projects Section */
    .projects-second {
        display: none;
    }

    .swiper-slide {
        height: auto;
    }

    .swiper-container {
        width: 80%;
    }

    .projects-card-image,
    .projects-card-image.wedding {
        height: 400px;
    }

    .projects-card-text h1 {
        font-size: 1.75rem;
    }

    .projects-card-text p {
        font-size: 0.85rem;
    }

    .projects-card-text a {
        font-size: 0.85rem;
    }
}

/* Ukuran Tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .navbar-menu {
        width: 600px;
        height: 100vh;
        padding: 10px 0 0 15px;
        transform: translateX(999%);
        transition: all 0.3s ease-in-out;
    }

    .navbar-menu.pop-up {
        transform: translateX(90%);
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateX(90%);
        -moz-transform: translateX(90%);
        -ms-transform: translateX(90%);
        -o-transform: translateX(90%);
    }

    main {
        padding-top: 3%;
    }

    /* Hero Section */
    .hero-text h1 {
        font-size: 1.85rem;
    }

    .hero-text h2 {
        font-size: 1.95rem;
        width: 65%;
    }

    .hero-text p {
        font-size: 0.9rem;
        width: 65%;
    }

    .hero-image {
        display: none;
    }

    .content-header h1 {
        font-size: 1.95rem;
    }

    /* Services Section */
    .services-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .services-card {
        width: 40%;
    }

    .services-card-header h1 {
        font-size: 1.75rem;
    }

    .services-card-text p {
        font-size: 0.9rem;
    }

    /* Skills Section */
    .skills-items {
        flex-direction: row;
        align-items: center;
        gap: 0 10px;
        width: 30%;
    }

    .skills-items h1 {
        font-size: 1rem;
    }

    /* About Section */
    .about-image {
        display: none;
    }

    .about-main-header h1 {
        font-size: 1.75rem;
    }

    .about-main-header h2 #about-element {
        font-size: 1.35rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }

    .about-experience {
        justify-content: center;
        gap: 0 20px;
        width: 100%;
    }

    .about-experience-items {
        width: 25%;
    }

    .about-experience-items h1 {
        font-size: 1.75rem;
    }

    .about-experience-items p {
        font-size: 0.9rem;
    }

    .about-cta a {
        font-size: 0.9rem;
    }

    /* Projects Section */
    .projects-main {
        display: none;
    }

    .projects-main.projects-second {
        display: inline-block;
    }

    .projects-main.projects-second {
        display: flex;
        justify-content: space-around;
    }

    .projects-card {
        width: 48%;
    }

    .projects-card-image,
    .projects-card-image.wedding {
        height: 400px;
    }

    .projects-card-text h1 {
        font-size: 1.75rem;
        line-height: 30px;
    }

    .projects-card-text p {
        font-size: 1.35rem;
        line-height: 30px;
    }

    .projects-card-text a {
        font-size: 0.9rem;
    }
}

/* Ukuran Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Navbar Section */
    .navbar-logo h1 {
        font-size: 1.5rem;
    }

    .navbar-menu {
        background-color: transparent;
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: max-content;
        height: auto;
        top: 0;
        gap: 0 20px;
        transform: translateX(0);
    }

    .navbar-menu a {
        font-size: 1rem;
    }

    #contact-me {
        display: none;
    }

    .menu-contact {
        display: block;
    }

    .menu-contact a {
        display: block;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: var(--textColor);
        font-weight: 550;
        font-size: 0.9rem;
        padding: 8px 13px;
        border-radius: 25px;
        background-color: var(--buttonColor);
        transition: all 0.3s ease-in;
    }

    .menu-contact a:hover {
        transform: scale(1.03);
        background-color: var(--paragraphColor);
    }

    .hamburger-menu {
        display: none;
    }

    /* Hero Section */
    main {
        padding-top: 2%;
    }

    .hero {
        justify-content: space-between;
        padding: 0 70px;
    }

    .hero-image {
        display: block;
    }

    .hero-image img {
        height: 450px;
        width: 290px;
    }

    .hero-text {
        text-align: left;
        align-items: start;
        justify-content: center;
        text-shadow: var(--shadow);
    }

    .hero-text h1 {
        font-size: 1.9rem;
        margin-bottom: 30px;
    }

    .hero-text h2 {
        font-size: 2.3rem;
        line-height: 40px;
    }

    .hero-text h3 #element {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
        width: 70%;
        margin: 15px 0;
    }

    .content-header h1 {
        font-size: 2rem;
    }

    /* Services Section */
    .services-content {
        gap: 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .services-card {
        width: 30%;
        height: auto;
    }

    .services-card-content {
        width: 90%;
    }

    .services-card-header h1 {
        font-size: 1.9rem;
    }

    .services-card-text p {
        line-height: normal;
        font-size: 1rem;
    }

    .services-card-image img {
        height: 100px;
    }

    /* Skill Section */
    .skills-items {
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        gap: 0 20px;
        width: 30%;
    }

    .skills-items img,
    svg {
        height: 50px;
    }

    .skills-items h1 {
        font-size: 1.25rem;
    }

    /* About Section */
    .about {
        height: auto;
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .about-image {
        display: block;
    }

    .about-image img {
        height: 400px;
    }

    .about-main {
        align-items: start;
        width: 40%;
    }

    .about-main-header h1 {
        font-size: 1.9rem;
        line-height: 30px;
    }

    .about-main-header h2 {
        text-align: left;
    }

    .about-main-header h2 #about-element {
        font-size: 1.75rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-experience {
        justify-content: start;
        gap: 0 20px;
        width: 100%;
    }

    .about-experience-items {
        width: 45%;
    }

    .about-experience-items h1 {
        font-size: 1.9rem;
    }

    .about-experience-items p {
        font-size: 1rem;
    }

    .about-cta {
        gap: 0 25px;
    }

    .about-cta a {
        font-size: 1rem;
    }

    /* Projects Section */
    .projects-main {
        display: none;
    }

    .projects-main.projects-second {
        display: inline-block;
    }

    .projects-main.projects-second {
        display: flex;
        justify-content: space-around;
    }

    .projects-card {
        width: 40%;
    }

    .projects-card-image,
    .projects-card-image.wedding {
        height: 300px;
    }

    .projects-card-text h1 {
        font-size: 1.9rem;
        line-height: 30px;
    }

    .projects-card-text p {
        font-size: 1.75rem;
        line-height: 30px;
    }

    .projects-card-text a {
        font-size: 1rem;
    }
}

/* Ukuran Desktop */
@media (min-width: 1367px) {
    .navbar-logo h1 {
        font-size: 1.5rem;
    }

    .navbar-menu {
        background-color: transparent;
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 0;
        width: max-content;
        height: auto;
        top: 0;
        gap: 0 20px;
        transform: translateX(0);
    }

    .navbar-menu a {
        font-size: 1rem;
    }

    #contact-me {
        display: none;
    }

    .menu-contact {
        display: block;
    }

    .menu-contact a {
        display: block;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: var(--textColor);
        font-weight: 550;
        font-size: 0.9rem;
        padding: 8px 13px;
        border-radius: 25px;
        background-color: var(--buttonColor);
        transition: all 0.3s ease-in;
    }

    .menu-contact a:hover {
        transform: scale(1.03);
        background-color: var(--paragraphColor);
    }

    .hamburger-menu {
        display: none;
    }

    /* Hero Section */
    main {
        padding-top: 2%;
    }

    .hero {
        justify-content: space-between;
        padding: 0 100px;
    }

    .hero-image {
        display: block;
    }

    .hero-image img {
        height: 650px;
        width: 400px;
    }

    .hero-text {
        text-align: left;
        align-items: start;
        justify-content: center;
        text-shadow: var(--shadow);
    }

    .hero-text h1 {
        font-size: 1.9rem;
        margin-bottom: 30px;
    }

    .hero-text h2 {
        font-size: 2.3rem;
        width: 65%;
        line-height: 40px;
    }

    .hero-text h3 #element {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
        width: 70%;
        margin: 15px 0;
    }

    .content-header h1 {
        font-size: 2rem;
    }

    /* Services Section */
    .services-content {
        gap: 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .services-card {
        width: 30%;
        height: auto;
    }

    .services-card-content {
        width: 90%;
    }

    .services-card-header h1 {
        font-size: 1.9rem;
    }

    .services-card-text p {
        line-height: normal;
        font-size: 1rem;
    }

    .services-card-image img {
        height: 100px;
    }

    /* Skill Section */
    .skills-items {
        padding: 15px 20px;
        flex-direction: row;
        align-items: center;
        gap: 0 15px;
        width: 30%;
    }

    .skills-items img,
    svg {
        height: 50px;
    }

    .skills-items h1 {
        font-size: 1.25rem;
    }

    /* About Section */
    .about {
        height: auto;
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .about-image {
        display: block;
    }

    .about-image img {
        height: 400px;
    }

    .about-main {
        align-items: start;
        width: 40%;
    }

    .about-main-header h1 {
        font-size: 1.9rem;
        line-height: 30px;
    }

    .about-main-header h2 {
        text-align: left;
    }

    .about-main-header h2 #about-element {
        font-size: 1.75rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-experience {
        justify-content: start;
        gap: 0 20px;
        width: 100%;
    }

    .about-experience-items {
        width: 45%;
    }

    .about-experience-items h1 {
        font-size: 1.9rem;
    }

    .about-experience-items p {
        font-size: 1rem;
    }

    .about-cta {
        gap: 0 25px;
    }

    .about-cta a {
        font-size: 1rem;
    }

    /* Projects Section */
    .projects-main {
        display: none;
    }

    .projects-main.projects-second {
        display: inline-block;
    }

    .projects-main.projects-second {
        display: flex;
        justify-content: space-around;
    }

    .projects-card {
        width: 40%;
    }

    .projects-card-image,
    .projects-card-image.wedding {
        height: 400px;
    }

    .projects-card-text h1 {
        font-size: 1.9rem;
        line-height: 30px;
    }

    .projects-card-text p {
        font-size: 1.75rem;
        line-height: 30px;
    }

    .projects-card-text a {
        font-size: 1rem;
    }
}
